<!-- <p>© 90210 Lawyer Stuff.</p> -->
<div>
    <div class="social">
        <a href="https://github.com/AndreiBlindu" target="_blank">
            <img src="/img/icons/github.svg">
        </a>
        <a href="https://www.linkedin.com/in/andrei-blindu-9535b91a9/" target="_blank">
            <img src="/img/icons/linkedin.svg">
        </a>
        <a href="https://www.instagram.com/andreiblindu/" target="_blank">
            <img src="/img/icons/instagram.svg">
        </a>
        <a href="https://www.facebook.com/andrei.blindu.39" target="_blank">
            <img src="/img/icons/facebook.svg">
        </a>
    </div>
    <p>Made by Andrei Blindu</p>
</div>

