<nav class="header" >
  <script src="/js/auth.js"></script>
  <ul>
    <li class="nav-item">
      <a class="nav-link" href="/">
        <img src="/img/icons/house.svg" alt="user-icon" class="icon">
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/play">
        <img src="/img/icons/dice.svg" alt="user-icon" class="icon">
        <span>Play</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">
        <img src="/img/icons/book.svg" alt="user-icon" class="icon">
        <span>About</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="user-route">
        <img src="/img/icons/person-circle.svg" alt="user-icon" class="icon">
        <span id="user-menu-text"></span>
      </a>
    </li>
  </ul>
</nav>
