<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tic-Tac-Toe</title>
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <link rel="stylesheet" href="/css/home-style.css" type="text/css">
    </head>
    <body>
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <section>
                <h1>Tic-Tac-Toe</h1>
                <img src="img/tic-tac-toe-img.jpg" alt="Tic Tac Toe Image" id="tic-tac-toe-img">
                <br>
                <button onclick="window.location.href='/play'">PLAY NOW!</button>
            </section>
                
            <section class="second_color">
                <ul class="selling-points">
                    <li>
                        <h2>Have fun</h2>
                        <p>
                            with one of the most famous games of all times
                        </p>
                    </li>
                    <li>
                        <h2>Challenge</h2>
                        <p>
                            your friends and climb the ranking
                        </p>
                    </li>
                    <li>
                        <h2>Improve</h2>
                        <p>
                            your logic and problem solving skills
                        </p>
                    </li>
                </ul>
            </section>

            <section>
                <video controls="controls" src="https://www.youtube.com/watch?v=USEjXNCTvcc">
                    Your browser does not support the HTML5 Video element.
                </video>
            </section>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>
    </body>
</html>