<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Play Tic-Tac-Toe</title>
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <link rel="stylesheet" href="/css/form-style.css" type="text/css">
    </head>
    <body>
        <script src="/js/login.js"></script>
        
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <div class="form-container">
                <form>
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username"><br>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password"><br>
                    <button id="buttonLogin" type="button" onclick="login()">Login</button>
                    <button id="buttonSignup" type="button" onclick="window.location.href='/sign-up'">Sign-up</button>
                </form>
                <p id="loginError"></p>
            </div>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>
    </body>
</html>