<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Play Tic-Tac-Toe</title>
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <link rel="stylesheet" href="/css/play-style.css" type="text/css">
    </head>
    <body>
        
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <div class="container">
                <h1>Tic-Tac-Toe</h1>
                <div class="play-area">
                </div>
                <h2 id="winner"></h2>
                <button onclick="reset_board()">RESET</button>
            </div>
            <script src="/js/tic-tac-toe.js"></script>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>
    </body>
</html>