<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Play Tic-Tac-Toe</title>
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <link rel="stylesheet" href="/css/play-style.css" type="text/css">
    </head>
    <body>
        <script src="/js/play.js"></script>
        
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>
    </body>
</html>