<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Play Tic-Tac-Toe</title>
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <link rel="stylesheet" href="/css/user-area.css" type="text/css">
    </head>
    <body>
        <script src="/js/user-area.js"></script>
        <script src="/js/logout.js"></script>
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <section>
                <h1>Welcome <span id="username"></span></h1>
                <section>
                    <ul id="userInfoList"></ul>
                </section>
                <section>
                    <table id="rankingTable">
                        <tr>
                            <th>Position</th>
                            <th>Username</th>
                            <th>Score</th>
                        </tr>
                    </table>
                </section>
            </section>
            <section>
                <button onclick="logout()">Logout</button>
            </section>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>
    </body>
</html>